@font-face {
	font-family: Neue;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/woff2/NeueFrutigerWorld-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/NeueFrutigerWorld-Medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
